.faq
  .container
    .q What is EncoreBeat?

    .a EncoreBeat is a place where people who love Electronic Dance Music (EDM) can stay up-to-date with the latest hits. Everyday we release new hits in the dance scene.

    .q Why did you create EncoreBeat?

    .a All of us at EncoreBeat love dance music. But there are so many new songs and remixes constantly being released, we found it hard to find the best new tracks. We created this site as a way for anyone to quickly see the latest hits in EDM.

    .q How does EncoreBeat work?

    .a Users submit the YouTube or Soundcloud URL of their current favorite EDM tracks, and then the most popular ones get upvoted to the top by our community. Everyday the list restarts!

    .q What kind of songs are classified as "EDM"?

    .a EDM encompasses a wide genre of music, and we’re still figuring out what our users want to hear most. For now, users can submit any type of electronic music that they’re listening to.

    .q Why should I create an account with EncoreBeat?

    .a After creating an account, you can start saving your favorite tracks by clicking the star icon next to each song. You can also start submitting songs after you’ve joined us. Lastly, it’s free to create an account!

    .q How can I contact the creators of EncoreBeat?

    .a
      Feel free to send us feedback, support, or suggestions at 
      = succeed '.' do
        = link_to "support@encorebeat.com", "mailto:support@encorebeat.com"
      We’d love to hear from you!