<div class="main-container-outer">
	<h1 class="main-header-title-margin-bot main-header-title">ENCOREBEAT</h1>
	<div class="songs-list-container">
	<% @submissions.each do |submission| %>
		<div class="song">
			<div class="upvote-container" style="float: left; width: 50px">
				<div class="arrow-up"></div>
				<p class="vote-count"><%= submission.upvotes.count %></p>
			</div>
			<div class="song-details-container">
				<h3 class="song-list-title"><%= link_to "#{submission.title} - #{submission.artist}", submission.url, :target => "_blank" %></a></h3>
				<div class="song-submitter">
					<img class="song-submitter-avatar" src="headsht.png" />
					<p class="song-submitter-name">Kevin Ko</p>
					<p class="song-comments-label">20 comments</p>
				</div>
			</div>
		</div>
	<% end %>
	</div>
</div>