.main-container-outer
  .main-content-container
    .main-content-inner-container
      .terms
        .container
          %h3 Terms and Conditions of Use of EncoreBeat.

          %h4 1 Acceptance The Use Of EncoreBeat Terms and Conditions

          %p Your access to and use of EncoreBeat is subject exclusively to these Terms and Conditions. You will not use the Website for any purpose that is unlawful or prohibited by these Terms and Conditions. By using the Website you are fully accepting the terms, conditions and disclaimers contained in this notice. If you do not accept these Terms and Conditions you must immediately stop using the Website.

          %h4 2 Submissions

          %p All song links submitted to EncoreBeat will not instantly be approved for the community to view. All submissions are reviewed first by a group of curators, whom select the most appropriate music for our community.

          %h4 3 Copyright

          %p 3.1 EncoreBeat does not host any of the music listed on this website. EncoreBeat is a music discovery platform that simply surfaces third­party links submitted from users.

          %p 3.2 All copyright, trade marks and all other intellectual property rights in the Website and its content (including without limitation the Website design, text, graphics and all software and source codes connected with the Website) are owned by or licensed to EncoreBeat or otherwise used by EncoreBeat as permitted by law.

          %p 3.3 In accessing the Website you agree that you will access the content solely for your personal, non­commercial use. None of the content may be downloaded, copied, reproduced, transmitted, stored, sold or distributed without the prior written consent of the copyright holder.

          %h4 4 Change of Use

          %p EncoreBeat reserves the right to:

          %p 4.1 change or remove (temporarily or permanently) the Website or any part of it without notice and you confirm that EncoreBeat shall not be liable to you for any such change or removal and.

          %p 4.2 change these Terms and Conditions at any time, and your continued use of the Website following any changes shall be deemed to be your acceptance of such change.

          %h4 5 Links to Third Party Websites

          %p EncoreBeat Website may include links to third party websites that are controlled and maintained by others. Any link to other websites is not an endorsement of such websites and you acknowledge and agree that we are not responsible for the content or availability of any such sites.

          %h4 6 Disclaimers and Limitation of Liability

          %p 6.1 The Website is provided on an AS IS and AS AVAILABLE basis without any representation or endorsement made and without warranty of any kind whether express or implied, including but not limited to the implied warranties of satisfactory quality, fitness for a particular purpose, non­infringement, compatibility, security and accuracy.

          %p 6.2 To the extent permitted by law, EncoreBeat will not be liable for any indirect or consequential loss or damage whatever (including without limitation loss of business, opportunity, data, profits) arising out of or in connection with the use of the Website.

          %p 6.3 EncoreBeat makes no warranty that the functionality of the Website will be uninterrupted or error free, that defects will be corrected or that the Website or the server that makes it available are free of viruses or anything else which may be harmful or destructive.

          %p 6.4 Nothing in these Terms and Conditions shall be construed so as to exclude or limit the liability of EncoreBeat for death or personal injury as a result of the negligence of EncoreBeat, Inc. or that of its employees or agents.

          %h4 7 Indemnity

          %p You agree to indemnify and hold EncoreBeat and its employees and agents harmless from and against all liabilities, legal fees, damages, losses, costs and other expenses in relation to any claims or actions brought against EncoreBeat arising out of any breach by you of these Terms and Conditions or other liabilities arising out of your use of this Website.

          %h4 8 Severance

          %p If any of these Terms and Conditions should be determined to be invalid, illegal or unenforceable for any reason by any court of competent jurisdiction then such Term or Condition shall be severed and the remaining Terms and Conditions shall survive and remain in full force and effect and continue to be binding and enforceable.

          %h4 9 Notices

          %p By signing up for EncoreBeat, you agree to receive emails regarding: TOS updates, informational newsletters, and other marketing collateral.

          %h4 10 Governing Law

          %p These Terms and Conditions shall be governed by and construed in accordance with the law of USA and you hereby submit to the exclusive jurisdiction of the USA courts.

          %p EncoreBeat is a subsidiary of Shyne, Inc, a Delaware company.