.main-container-outer
  %h1.main-header-title APPROVE BEATS
  .songs-list-container
    %h4.song-list-date-group TUESDAY AUG 16TH
    -@submissions.each do |submission|
      .song
        .upvote-container
          / .arrow-up
          / %p.vote-count= submission.upvotes.count
        .song-details-container
          %h3.song-list-title
            = link_to formatted_line_for_submission(submission), submission.url, target: "_blank"
          .song-submitter
            = image_tag "headsht.png", class: "song-submitter-avatar"
            %p.song-submitter-name Kevin Ko
            = link_to "Approve", edit_submission_path(submission, status: 1, published_at: Date.today), {remote: true}
            = link_to "Reject", edit_submission_path(submission, status: 2), {remote: true}