.main-content-container
  .main-content-inner-container.songs-for-the-day-container.highlight-callout
    = link_to highlight_slug_path(last_highlight_slug), class: 'home-callout' do
      New Weekly Top 10! Listen to the top tracks from last week
      %span.arrow →