.playlist-player-container
  .playlist-player-inner
    #player
  .playlist-player-controls
    = link_to "Play", "#", id: "play-button", class: "js-sc-play-button"
    = link_to "Stop", "#", id: "stop-button", class: "js-sc-pause-button"
    = link_to "Previous", "#", id: "previous-button", class: "js-sc-previous-button"
    = link_to "Next", "#", id: "next-button", class: "js-sc-next-button"
