.playlist-player-container
  .playlist-player-inner
    #player
  .playlist-player-controls
    = link_to "Play", "#", id: "play-button"
    = link_to "Stop", "#", id: "stop-button"
    = link_to "Previous", "#", id: "previous-button"
    = link_to "Next", "#", id: "next-button"
