.playlist-player-container.js-player-source.js-soundcloud-player-mode.js-youtube-player-mode
  .playlist-player-inner.js-player-replace-target{ :'data-play-index' => 0 }
    #player
  .playlist-player-controls
    = link_to "Play", "#", id: "play-button", class: "js-play-button"
    = link_to "Stop", "#", id: "stop-button", class: "js-pause-button"
    = link_to "Previous", "#", id: "previous-button", class: "js-previous-button"
    = link_to "Next", "#", id: "next-button", class: "js-next-button"
