- if !current_user
  .sign_up_side_container
    %p.sign_up_callout_title Sign up to upvote songs & save your favorite hits in a playlist!
    = link_to signup_path(w: true), class: 'primary-action-button sign_up_side_button' do
      Let's get started!
