- if current_user 
  %div{ class: "arrow-up #{user_upvoted_song?(current_user, submission.id) ? 'clicked' : ''}", :'data-submission-id' => submission.id }
- else
  = link_to login_path(w: true) do
    .arrow-up.logged-out