- @favorite_submissions.each do |submission|
  .song{ :'data-favorite-id' => submission.id }
    .song-details-container
      = render partial: 'partials/submission_row', locals: { submission: submission }