- @favorites.each do |favorite|
  .song{ :'data-favorite-id' => favorite.id }
    .song-details-container
      = render partial: 'partials/submission_row', locals: { submission: favorite.submission }