.user-edit
  .main-container-outer
    .main-header-title
    = cl_image_tag(@user.avatar, radius: :max, class: 'user-avatar')
    %h2.main-header-subtitle
      = @user.username
    %p
      = user_since(@user)

    - if @user == current_user
      %p= link_to 'Settings', edit_user_path(@user)