.flash {
  color: #E26A6A;
}

.user-avatar-thumb {
  vertical-align: sub;
  width: 20px;
  height: 20px;
}

.user-avatar {
  border-radius: 150px;
}

.action-button {
  background: #4099ff;
  &:hover {
    background: #3C90F1;
  }
}

.alert {
  position: absolute;
  top: 30px;
  left: 50%;
  color: #fff;
  z-index: 999;
  max-width: 800px;
  width: 100%;
  text-align: center;
  margin-left: -400px;
  font-size: 20px;
  padding: 20px;
  @include media($medium) {
    max-width: 500px;
    margin-left: -250px;
  }
  @include media($small) {
    max-width: 300px;
    margin-left: -150px;
    font-size: 16px;
    line-height: 20px;
    top: 60px;
  }
}

.success {
  background: #5DD35F;
}

.error {
  background: #4F535E;
}

.error-messages {
  color: #F3324A;
}

.close-alert {
  position: absolute;
  right: 20px;
  font-size: 30px;
  top: 15px;
  opacity: .4;
  color: #000;
  &:hover {
    cursor: pointer;
    opacity: .6;
  } 
  @include media($medium) {
    right: 10px;
    font-size: 24px;
    top: 18px;
  }
  @include media($small) {
    right: 15px;
    top: 30px;
  }
}

header.main-container-header {
  background-image: asset-url("headerCrowd.jpg", image);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 150px;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  height: 205px;

  .navigation {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    color: #fff;
    a {
      color: #fff;
      margin-left: 12px;
      display: inline-block;
      text-decoration: none;
    }
    a:hover {
      color: #F3324A;
    }
    .navigation-inner {
      max-width: 960px;
      width: 100%;
      margin: 0 auto;
      @include media($small){
        text-align: center;
      }
      @include media($medium) {
        padding: 0 20px;
      }
    }
    .logo {
      float: left;
      font-size: 30px;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      text-transform: uppercase;

      &:hover {
        color: #fff;
      }

      .encore {
        &:hover {
          color: #fff;
        }
      }

      .beat {
        margin-left: -4px;
        color: #F3324A;

        &:hover {
          color: #F3324A;
        }
      }

      @include media($small){
        margin-bottom: 12px;
        float: none;
      }
    }
    .main-nav-options {
      float: right;
      @include media($small){
        float: none;
      }
    }
    .user-avatar-thumb {
      vertical-align: sub;
    }
  }

  .main-header-title {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
  }

  .main-container-header-overlay {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 210px;
    @include background-image( linear-gradient(180deg, rgba(39, 40, 46, 0.2), #27282e) );
    -webkit-filter: blur(1px);
  }
}

.main-header-subtitle {
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  padding: 0 20px;
  color: #fff;
}

.main-header-description-text {
  line-height: 22px;
  max-width: 500px;
  margin: 20px auto 0;
}

#paginate-trigger {
  padding: 10px 20px;
  background: #484C57;
  color: #fff;
  text-decoration: none;
  &:hover {
    background: #3A3D47;
  }
  &:active{
    background: #2E3138;
  }
}

footer.main-container-footer {
  @include outer-container();
  padding-top: 100px;
  min-width: 320px;
  margin: auto;
  text-align: center;

  li {
    list-style: none;
    display: inline;
    line-height: 3.7em;
    padding-left: 3%;
    color: #fff;
    font-weight: 300;
    font-size: 14px;

    a {
      color: #fff;
      text-decoration: none;
    }
  }
}

.bold, .emphasize {
  font-weight: bold;
}

.grey, .de-emphasize {
  color: #8D94A8;
}

.off-emphasize {
  font-family: 'Lato';
  font-weight: 400;
}