.main-header-comment-title {
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 12px;

  a {
    text-decoration: none;
  }
}

.comment-container {
  margin-top: 200px;
  max-width: 700px; 
  position: relative;

  .upvote-container {
    width: 75px;
    position: absolute;
    top: 8px;
    left: -100px;
    text-align: center;

    .arrow-up {
      width: 0;
      height: 0;
      border-left: 36px solid transparent;
      border-right: 36px solid transparent;
      border-bottom: 36px solid #4F535E;
      margin-top: 3px;
      margin-bottom: 12px;
      margin-left: 1px;
    }

    .vote-count {
      font-size: 40px;
    }
  }
}

.comments-container {
  margin-top: 30px;

  .comment {
    margin-bottom: 36px;
  }
}

.comment-details-container {
  display: inline-block;
  margin-left: 12px;
  text-align: left;
}

.comment-text-area {
  width: 100%;
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 10px;
}

.comment-form-container {
  margin-bottom: 20px;
}