.main-header-comment-title {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 12px;

  a {
    text-decoration: none;
  }

  @include media($small) {
    font-size: 20px;
  }
}

.submission-show-detail-container {
  margin-left: 62px;
}

.comment-content-container {
  .comment-count {
    margin-bottom: 30px;
    font-size: 20px;
    color: #A3A6B1;
  }
}

.hero-content {
  margin-bottom: 30px;
  border-bottom: 1px solid #C3C5CF;
  .hero-content-inner {
    @include clearfix;
    padding: 30px;

    @include media($small) {
      padding: 20px;
    }
  }
}

.comments-container {
  margin-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  margin-left: 96px;
  max-width: 630px;

  .comment {
    margin-bottom: 36px;

    .song-comments-label {
      font-size: 12px;
    }
  }

  @include media($small) {
    margin: 0;
    padding: 0 20px 20px 20px;
  }
}

.comment-input-container {
  .user-avatar-thumb {
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 50px;

    @include media($medium) {
      display: none;
    }
  }
  .comment-form-container {
    max-width: 525px;
    width: 100%;
    margin-left: 64px;
    overflow: hidden;
    margin-bottom: 30px;
    color: $primary-fill;

    @include media($medium) {
      max-width: 400px;
      margin-left: 0;
    }

    @include media($small) {
      margin-left: 0;
    }
  }
}

.comment-container {
  display: inline-block;
  text-align: left;
  overflow: hidden;
  .user-avatar-thumb {
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 50px;
  }
  .comment-details-content {
    margin-left: 64px;
  }
  .comment-content {
    margin-top: 4px;
    line-height: 22px;
    white-space: pre-wrap;
  }
}

.comment-text-area {
  width: 100%;
  font-size: 16px;
  background: #feffff;
  border: 1px solid #BEBFC4;
  padding: 10px;
  max-width: 525px;
  min-height: 78px;
  outline: none;
}

#submit-comment-button {
  max-width: 120px;
  font-size: 16px;
  float: right;
}

.comment-form-container {
  margin-bottom: 20px;
}

.comments-enter {
  opacity: 0.01;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.comments-enter.comments-enter-active {
  opacity: 1.0;
}
.comments-leave {
  opacity: 0.7;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.comments-leave.comments-leave-active {
  opacity: 0.01;
}

.character-count {
  font-size: 12px;
}

.posting-as {
  display: none;

  @include media($medium) {
    display: block;
    font-size: 12px;
  }
}

.admin-delete-comment {
  margin-left: 8px;
  font-size: 12px;

  &:hover {
    cursor: pointer;
    color: $primary-accent;
  }
}