.highlights {
  h1, h2, p {
    text-align: center;
    margin-bottom: 12px;
  }

  p {
    @include media($small) {
      display: none;
    }
  }

  h1 {
    font-size: 24px;
    line-height: 30px;

    @include media($small) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;

    @include media($small) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  .rankings {
    font-size: 30px;
    margin-top: 12px;
  }
}

.highlights-additional-actions {
  width: 100%;
  max-width: 760px;
  display: block;
  margin-top: 30px;
  margin: auto;
}

.home-callout {
  padding: 10px 20px;
  background: #484C57;
  color: #fff;
  text-decoration: none;

  .arrow {
    color: $primary-accent;
  }

  &:hover {
    background: #3A3D47;
  }

  &:active{
    background: #2E3138;
  }

  @include media($small) {
    font-size: 12px;
  }
}

.highlight-callout {
  padding: 0;
  margin-bottom: 20px;
  text-align: center;
  background: #484C57;
  color: #fafaff;

  .home-callout {
    display: block;
  }
}