.preview-player {
  margin-top: 24px;
  a {
    color: #FAFAFF;
  }
  iframe {
    @include media($small) {
      width: 100%;
      height: 100%;
    }
  }
}

.responsive-object {
  position: relative;
  padding-bottom: 67.5%;
  height: 0;
  margin: 10px 0;
  overflow: hidden;
}
.responsive-object iframe,
  .responsive-object object,
  .responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.playlist-player-container {
  position: fixed;
  bottom: 0px;
  right: 15px;
  @include media($small) {
    display: none;
  }
  .playlist-player-inner {
    text-align: center;
  }
  .playlist-player-controls {
    margin-top: 12px;
    height: 46px;
    background: #121318;
    width: 254px;
    line-height: 46px;
    text-align: left;
    padding-left: 10px;
    overflow: hidden;
    display: none;
    box-sizing: border-box;
    .play-control-button {
      text-decoration: none;
      font-size: 20px;
      color: #f0f0f0;
      height: 46px;
      width: 30px;
      display: inline-block;
      text-align: center;
      float: left;
      &:hover {
        color: $primary-accent;
      }
    }
    .next-button {
      margin-right: 10px;
    }
    .player-upvote-button {
      text-decoration: none;
      display: inline-block;
      line-height: 44px;
      margin-right: 12px;
      cursor: pointer;
      height: 46px;
      width: auto;
      .fa-caret-up {
        font-size: 24px;
        vertical-align: middle;
        display: inline-block;
        margin-top: -2px;
      }
      span {
        font-size: 12px;
      }
    }
    .player-add-playlist-button {
        text-decoration: none;
        width: auto;
        .fa-plus {
          vertical-align: middle;
        }
        span {
          font-size: 12px;
        }
    }
    .hidden-view {
      display: none;
    }
  }

}