.container {
  @include outer-container;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Noto Sans', sans-serif;
  background-color: #27282E;
  color: $primary-fill;
  padding-bottom: 40px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  position: relative;
}
p {
  font-size: 16px;
  line-height: 24px;

  @include media($small) {
    font-size: 12px;
    line-height: 18px;
  }
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: $primary-fill;
  &:hover {
    color: $primary-accent;
  }
  &:active {
    color: #D52F44;
  }
}

.hiddenView {
  display: none;
}

#main-container-homepage {
  .user-avatar-thumb {
    width: 20px;
    border-radius: 20px;
  }

  .spinner > div {
    background-color: #FAFAFF;
  }

  .song-list-title a:visited {
    color: $primary-soft;
  }
}

.main-container-outer {
  padding: 0 20px;
  text-align: center;
  z-index: 1;
  position: relative;
  margin-top: -30px;
}

.main-container {
  max-width: 960px;
  margin: 0 auto;
}

.upvote-container {
  float: left;
  width: 50px;
  text-align: center;
  margin-right: 12px;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 18px solid $primary-fill;
  margin: 4px 0 11px 7px;

  &.clicked {
    border-bottom: 18px solid #E23147;
  }

  &:hover {
    border-bottom: 18px solid $primary-accent;
    cursor: pointer;
  }

  @include media($small) {
    margin: 6px 0 8px 11px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid $primary-fill;

    &.clicked {
      border-bottom: 14px solid $primary-accent;
    }

    &:hover {
      border-bottom: 14px solid $primary-accent;
      cursor: pointer;
    }
  }
}

.upvote-container {
  float: left;
  width: 50px
}

.vote-count {
  font-size: 20px;

  @include media($small) {
    font-size: 16px;
  }
}

.song-list-date-group {
  color: $primary-soft;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.main-content-container {
  max-width: 760px;
  margin: 0px auto 0;
  text-align: left;
  background: #FAFAFF;
  .main-content-inner-container {
    padding: 30px;
    .main-header-title {
      font-size: 26px;
      line-height: 32px;
      text-align: center;

      &.condense {
        max-width: 500px;
        margin: auto;
      }
    }
    .song:last-child {
      margin-bottom: 0;
    }

    @include media($small) {
      padding: 20px;
    }
  }
}

.songs-for-the-day-container {
  margin-bottom: 45px;

  .main-content-inner-container {
    padding: 30px 30px 30px 18px;

    @include media($small) {
      padding: 20px 20px 20px 12px;
    }
  }
}

.song {
  margin-bottom: 18px;
  padding: 8px;
}

.song-details-container {
  margin-left: 62px;
}

.song-list-title {
  margin-bottom: 4px;
  a {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 12px;
    text-decoration: none;

    @include media($small) {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.song-submitter {
  display: inline-block;
  font-size: 16px;
  line-height: 16px;

  @include media($small) {
    font-size: 14px;
  }
}

.song-submitter-avatar {
  width: 32px;
  border-radius: 32px;
  display: inline-block;
  vertical-align: bottom;
}

.song-submitter-name {
  display: inline-block;
  margin-left: 0 !important;
}

.song-comments-label {
  display: inline-block;
  margin-left: 4px;
}

.song-metainfo {
  font-size: 14px;

  a {
    text-decoration: none;
    margin-left: 8px;
    color: $primary-fill;

    &:hover {
      color: $primary-accent;
    }

    i {
      font-size: 16px;
    }
  }

  .song-actions {
    display: inline;

    @include media($small) {
      margin-top: 8px;
      display: block;
      font-size: 12px;

      a:first-child {
        margin-left: 0;
      }
    }
  }
}

/* SUBMIT A SONG PAGE */

.form-container {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
}

.text-field-container {
  position: relative;

  .submit-label {
    position: absolute;
    font-size: 20px;
    top: 9px;

    @include media($small) {
      font-size: 16px;
    }
  }

  .submit-url-label {
    font-size: 20px;
    top: 5px;

    @include media($small) {
      font-size: 16px;
    }
  }
}
.submit-input {
  font-family: 'Avenir Next';
  color: #333;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid $primary-soft;
  margin-bottom: 30px;
  width: 100%;
  outline: none;
  background: none;
  box-sizing: border-box;
  padding: 6px 0 6px 120px;

  &.vertical {
    padding-left: 0;
  }

  @include media($small) {
    padding-left: 90px;
    font-size: 16px;
  }
}

.submit-input-url {
  font-size: 20px;
  padding-left: 0px;

  @include media($small) {
    font-size: 16px;
  }
}

.primary-action-button {
  display: block;
  margin: 0 auto;
  border: none;
  background: $primary-accent;
  color: #fff;
  font-family: 'Avenir Next';
  padding: 10px 30px;
  font-size: 24px;
  outline: none;
  &:hover {
    cursor: pointer;
    background: #E23147;
  }
  &:active {
    background: #D52F44;
  }
}


.music-preview {
  display: none;
  height: 80px;
  text-align: left;
  margin-bottom: 12px;
  img {
    float: left;
    width: 70px;
  }
  p {
    margin-left: 82px;
    font-size: 24px;
    line-height: 30px;

    @include media($small) {
      font-size: 20px;
      line-height: 24px;
    }
  }
}

.approval-title {
  color: #fff;
  margin-bottom: 50px;
}

.share {
  margin-left: 12px;

  @include media($small) {
    display: block;
  }
}

.favorite-trigger {
  font-size: 14px;
}