.container {
  @include outer-container;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Avenir Next';
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.logo {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 70px;
}

.main-container {
	max-width: 960px;
	margin: 0 auto;
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	border-bottom: 18px solid black;
	margin-top: 3px;
	margin-bottom: 12px;
}

.vote-count {
	font-size: 20px;
}

.song {
	font-family: 'Avenir Next';
	margin-bottom: 36px;
}

.song-details-container {
	margin-left: 62px;
}

.song-list-title {
	margin-bottom: 12px;
}

.song-list-title a{
	font-weight: 500;
	font-size: 25px;
	margin-bottom: 12px;
	color: #333;
	text-decoration: none;
}

.song-list-title a:hover {
	color: #000;
}

.song-submitter {
	display: inline-block;
	font-size: 18px;
	line-height: 18px;
}

.song-submitter-avatar {
	width: 20px;
	border-radius: 20px;
	display: inline-block;
	vertical-align: bottom;
}

.song-submitter-name {
	display: inline-block;
}

.song-comments-label {
	display: inline-block;
}

/* SUBMIT A SONG PAGE */
.submit-input {
	font-family: 'Avenir Next';
	font-size: 30px;
	border: none;
	border-bottom: 2px solid #555;
	margin-bottom: 30px;
	width: 500px;
	text-align: center;
	outline: none;
}

#submit-song-button {
	display: block;
	margin: 0 auto;
	border: none;
	width: 500px;
	background: #1f1f1f;
	color: #fff;
	font-family: 'Avenir Next';
	padding: 10px;
	font-size: 24px;
}

#submit-song-button:hover {
	cursor: pointer;
	background: #0f0f0f;
}