.container {
  @include outer-container;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Droid sans', sans-serif;
  background-color: #F7F9FD;
  color: #4F535E;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #4F535E;
}
a:hover {
  color: #ff0000;
}

.bold {
  font-weight: bold;
}

.grey {
  color: #8D94A8;
}

.hiddenView {
  display: none;
}

#main-container-homepage {
  margin-top: 0;
  .main-container-header {
    color: #fff;
  }
  .main-container-subtitle {
    color: #fff;
  }
}

.main-container-outer {
  text-align: center;
  margin-top: 100px;
}

.main-container-header {
  background-image: asset-url("concert960.jpg", image);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 150px;
  height: 440px;
  background-position-y: -350px;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  .main-container-header-overlay {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
  }
  .main-header-subtitle {
    font-size: 24px;
  }
}

.navigation {
  position: absolute;
  top: 20px;
  right: 20px;
  a {
    color: #fff;
    margin-left: 12px;
    display: inline-block;
    text-decoration: none;
  }
  a:hover {
    color: #ff0000;
  }
}

.main-header-title {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 70px;
  margin-bottom: 12px;
}

.main-container {
  max-width: 960px;
  margin: 0 auto;
}

.upvote-container {
  float: left;
  width: 50px;
  text-align: center;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 18px solid #4F535E;
  margin-top: 3px;
  margin-bottom: 12px;
  margin-left: 7px;

  &.clicked {
    border-bottom: 18px solid #ff0000;
  }

  &:hover {
    cursor: pointer;
  }
}

.upvote-container {
  float: left; 
  width: 50px
}

.vote-count {
  font-size: 20px;
}

.songs-list-container {
  max-width: 700px; 
  margin: 50px auto 0; 
  text-align: left;
  .song-list-date-group {
    color: #8A8D95;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }
}

.song {
  margin-bottom: 36px;
}

.song-details-container {
  margin-left: 62px;
}

.song-list-title {
  margin-bottom: 12px;
}

.song-list-title a{
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 12px;
  text-decoration: none;
}

.song-submitter {
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
}

.song-submitter-avatar {
  width: 20px;
  border-radius: 20px;
  display: inline-block;
  vertical-align: bottom;
}

.song-submitter-name {
  display: inline-block;
}

.song-comments-label {
  display: inline-block;
}

/* SUBMIT A SONG PAGE */

.form-container {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 50px;
}

.submit-input {
  font-family: 'Avenir Next';
  color: #333;
  font-size: 30px;
  border: none;
  border-bottom: 2px solid #8A8D95;
  margin-bottom: 30px;
  width: 100%;
  outline: none;
  background: none;
}

.primary-action-button {
  display: block;
  margin: 0 auto;
  border: none;
  width: 100%;
  background: #1f1f1f;
  color: #fff;
  font-family: 'Avenir Next';
  padding: 10px;
  font-size: 24px;
}

.primary-action-button:hover {
  cursor: pointer;
  background: #0f0f0f;
}

.music-preview {
  display: none;
  height: 80px;
  text-align: left;
  margin-bottom: 12px;
  img {
    float: left;
    width: 70px;
  }
  p {
    margin-left: 82px;
    font-size: 24px;
  }
}

/* sign up page */

.login-link {
  margin-top: 50px;
}

.signup-twitter-button {
  background: #4099ff;
  border: none;
  color: #fff;
  width: 100%;
  max-width: 500px;
  padding: 10px;
  font-size: 24px;
  outline: none;
  margin-top: 30px;
  &:hover {
    cursor: pointer;
  }
}

/* comment page */

.main-header-comment-title {
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 12px;
  a {
    text-decoration: none;
  }
}

.comment-container {
  margin-top: 200px;
  max-width: 700px; 
  position: relative;
  .upvote-container {
    width: 75px;
    position: absolute;
    top: 8px;
    left: -100px;
    text-align: center;
    .arrow-up {
      width: 0;
      height: 0;
      border-left: 36px solid transparent;
      border-right: 36px solid transparent;
      border-bottom: 36px solid #4F535E;
      margin-top: 3px;
      margin-bottom: 12px;
      margin-left: 1px;
    }
    .vote-count {
      font-size: 40px;
    }
  }
}

.comments-container {
  margin-top: 30px;
  border-top: 1px solid #ddd;
}

.comment-details-container {
  display: inline-block;
  margin-left: 12px;
  text-align: left;
}