.user-edit {
  label {
    display: block;
    font-size: 24px;
    margin-bottom: 24px;
  }

  .user-avatar {
    display: block;
    margin: auto;
  }

  input#user_avatar {
    margin: 20px 0;
  }
}