.user-edit {
  label {
    display: block;
    font-size: 24px;
    margin-bottom: 24px;
  }

  .user-avatar {
    display: block;
    margin: auto;
  }

  input#user_avatar {
    margin: 20px 0;
  }
}

.twitter-form {
  text-align: center;

  .signup-twitter-button {
    background: #4099ff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 24px;
    outline: none;
    margin-top: 30px;
    margin-bottom: 30px;

    &:hover {
      cursor: pointer;
      background: #3C90F1;
    }
    &:active {
      background: #3A8AE5;
    }
  }
}

.alternative-account-option-link {
  margin-top: 20px;
  text-align: center;
}

.upload-avatar-button {
  width: 200px;
  height: 50px;
  color: #fff;
  font-family: 'Avenir Next';
  outline: none;
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
  &:hover {
    border-color: #40454C;
  }
}

.upload-avatar-button::-webkit-file-upload-button {
  visibility: hidden;
}
.upload-avatar-button::before {
  content: 'Upload a photo';
  background: #3169A8;
  display: inline-block;
  border: none;
  width: 100%;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}
.upload-avatar-button:hover::before {
  border-color: #2E6099;
}

.avatar-added-text {
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  font-family: 'Avenir Next';
  display: none;
  &:hover {
    cursor: pointer;
  }
}

.close-icon {
  margin-left: 8px;
  font-size: 30px;
  vertical-align: middle;
}